@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #3BDFDE, #1BD2CE);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #166a6e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #E0A935;
    text-align: center;
    text-shadow: 1px 1px 2px #9b76258c;
}

h2{
    color: #25BAC1;
}

p {
    text-align: justify;
}